@import './variables.scss';
@import './buttons.scss';
@import './box-shadows.scss';

.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.middleOfPage {
  z-index: 9999;
  position: absolute;
  transform: translateX(-50%);
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal_container {
  background: linear-gradient(180deg, #5effe5 36.08%, #5e9eff 75.92%);
  width: 20rem;
  height: 100%;
  margin: 6rem 0rem 6rem 2.5rem;
  border: black 14px solid;
  z-index: 10;
  @include image_portrait_boxShadow_smallScreen;
  .modal_heading_container {
    .modal_heading {
      @include text-font-medium-large;
      text-align: center;
      padding: 2rem 0rem;
    }
  }

  .modal_closeBtn_container {
    @include flex-center-end;
    padding: 0.3rem 0.3rem 0rem 0rem;
    .modal_closeBtn {
      cursor: pointer;
      // transition: all 0.25s ease;
      // box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
      right: 0;
      top: 0;
      font-size: 1.2rem;
      width: 2rem;
      height: 2rem;
      border: 2.2px solid black;
      color: black;
      @include flex-center-center;
      background-color: $colorFour;
      @include medium-leftSide-button-boxShadow;

      &:hover {
        background-color: $colorFive;
        color: blue;
      }
      &:active {
        @include medium-button-click-animation;
      }
      .modal_closeBtn_icon {
        font-weight: bold;
      }
    }
  }

  .modal_content {
    padding: 1rem;
    @include flex-center-center;
    flex-direction: column;
    .product_type_label {
      @include text-font-small;
      width: auto;
      margin: 0rem 0rem 0.8rem 0rem;

      .product_selection_type_container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        .product_selection_item {
          width: 14.5rem;
          @include flex-center-between;

          .product_type_selection_name {
            margin: 0.3rem 2rem 0.3rem 0rem;
            @include text-font-medium-large;
            @include flex-center-start;
            text-align: center;
          }
          .product_type_selection_checkbox {
            @include small-checkbox;
          }
        }
      }
    }
    .modal_price_info_container {
      margin: 1rem;
      width: 70%;
      @include flex-center-center;
      flex-direction: column;
      .modal_product_price {
        font-size: 2.5rem;
      }
      .modal_product_price_extraInfo {
        font-size: 0.7rem;
      }
    }
  }
  .modal_actions {
    .modal_actions_container {
      @include flex-center-center;
      flex-direction: column;
      margin: 1rem;
      .plus_minus_product_number_button_large {
        margin: 0.75rem 0rem;
      }
      .addToCart_button_small {
        margin: 0.75rem 0rem;
      }
    }
  }
}
