//? Button box shadow colors and settings

$buttonShadowPrimary: black;
$buttonShadowSecondary: white;

// left side BoxShadows

@mixin small-leftSide-checkBox-boxShadow {
  box-shadow: -0.25px 0.25px 0px $buttonShadowPrimary,
    -0.5px 0.5px 0px $buttonShadowPrimary,
    -0.75px 0.75px 0px $buttonShadowPrimary, -1px 1px 0px $buttonShadowPrimary,
    -1.25px 1.25px 0px $buttonShadowPrimary,
    -1.5px 1.5px 0px $buttonShadowPrimary,
    -1.75px 1.75px 0px $buttonShadowPrimary, -2px 2px 0px $buttonShadowPrimary,
    -2.25px 2.25px 0px $buttonShadowPrimary,
    -2.5px 2.5px 0px $buttonShadowPrimary,
    -2.75px 2.75px 0px $buttonShadowPrimary, -3px 3px 0px $buttonShadowPrimary,
    -3.25px 3.25px 0px $buttonShadowPrimary,
    -3.5px 3.5px 0px $buttonShadowPrimary;
}

@mixin medium-leftSide-checkBox-boxShadow {
  box-shadow: -0.25px 0.25px 0px $buttonShadowPrimary,
    -0.5px 0.5px 0px $buttonShadowPrimary,
    -0.75px 0.75px 0px $buttonShadowPrimary, -1px 1px 0px $buttonShadowPrimary,
    -1.25px 1.25px 0px $buttonShadowPrimary,
    -1.5px 1.5px 0px $buttonShadowPrimary,
    -1.75px 1.75px 0px $buttonShadowPrimary, -2px 2px 0px $buttonShadowPrimary,
    -2.25px 2.25px 0px $buttonShadowPrimary,
    -2.5px 2.5px 0px $buttonShadowPrimary,
    -2.75px 2.75px 0px $buttonShadowPrimary, -3px 3px 0px $buttonShadowPrimary,
    -3.25px 3.25px 0px $buttonShadowPrimary,
    -3.5px 3.5px 0px $buttonShadowPrimary,
    -3.75px 3.75px 0px $buttonShadowPrimary, -4px 4px 0px $buttonShadowPrimary,
    -4.25px 4.25px 0px $buttonShadowPrimary,
    -4.5px 4.5px 0px $buttonShadowPrimary,
    -4.75px 4.75px 0px $buttonShadowPrimary, -5px 5px 0px $buttonShadowPrimary,
    -5.25px 5.25px 0px $buttonShadowPrimary,
    -5.5px 5.5px 0px $buttonShadowPrimary,
    -5.75px 5.75px 0px $buttonShadowPrimary, -6px 6px 0px $buttonShadowPrimary,
    -6.25px 6.25px 0px $buttonShadowPrimary,
    -6.5px 6.5px 0px $buttonShadowPrimary,
    -6.75px 6.75px 0px $buttonShadowPrimary, -7px 7px 0px $buttonShadowPrimary;
}
@mixin medium-leftSide-button-boxShadow {
  box-shadow: -0.25px 0.25px 0px $buttonShadowPrimary,
    -0.5px 0.5px 0px $buttonShadowPrimary,
    -0.75px 0.75px 0px $buttonShadowPrimary, -1px 1px 0px $buttonShadowPrimary,
    -1.25px 1.25px 0px $buttonShadowPrimary,
    -1.5px 1.5px 0px $buttonShadowPrimary,
    -1.75px 1.75px 0px $buttonShadowPrimary, -2px 2px 0px $buttonShadowPrimary,
    -2.25px 2.25px 0px $buttonShadowPrimary,
    -2.5px 2.5px 0px $buttonShadowPrimary,
    -2.75px 2.75px 0px $buttonShadowPrimary, -3px 3px 0px $buttonShadowPrimary,
    -3.25px 3.25px 0px $buttonShadowPrimary,
    -3.5px 3.5px 0px $buttonShadowPrimary,
    -3.75px 3.75px 0px $buttonShadowPrimary, -4px 4px 0px $buttonShadowPrimary,
    -4.25px 4.25px 0px $buttonShadowPrimary,
    -4.5px 4.5px 0px $buttonShadowPrimary,
    -4.75px 4.75px 0px $buttonShadowPrimary, -5px 5px 0px $buttonShadowPrimary;
}

@mixin large-button-leftSide-boxShadow {
  box-shadow: -0.25px 0.25px 0px $buttonShadowPrimary,
    -0.5px 0.5px 0px $buttonShadowPrimary,
    -0.75px 0.75px 0px $buttonShadowPrimary, -1px 1px 0px $buttonShadowPrimary,
    -1.25px 1.25px 0px $buttonShadowPrimary,
    -1.5px 1.5px 0px $buttonShadowPrimary,
    -1.75px 1.75px 0px $buttonShadowPrimary, -2px 2px 0px $buttonShadowPrimary,
    -2.25px 2.25px 0px $buttonShadowPrimary,
    -2.5px 2.5px 0px $buttonShadowPrimary,
    -2.75px 2.75px 0px $buttonShadowPrimary, -3px 3px 0px $buttonShadowPrimary,
    -3.25px 3.25px 0px $buttonShadowPrimary,
    -3.5px 3.5px 0px $buttonShadowPrimary,
    -3.75px 3.75px 0px $buttonShadowPrimary, -4px 4px 0px $buttonShadowPrimary,
    -4.25px 4.25px 0px $buttonShadowPrimary,
    -4.5px 4.5px 0px $buttonShadowPrimary,
    -4.75px 4.75px 0px $buttonShadowPrimary, -5px 5px 0px $buttonShadowPrimary,
    -5.25px 5.25px 0px $buttonShadowPrimary,
    -5.5px 5.5px 0px $buttonShadowPrimary,
    -5.75px 5.75px 0px $buttonShadowPrimary, -6px 6px 0px $buttonShadowPrimary,
    -6.25px 6.25px 0px $buttonShadowPrimary,
    -6.5px 6.5px 0px $buttonShadowPrimary,
    -6.75px 6.75px 0px $buttonShadowPrimary, -7px 7px 0px $buttonShadowPrimary,
    -7.25px 7.25px 0px $buttonShadowPrimary,
    -7.5px 7.5px 0px $buttonShadowPrimary,
    -7.75px 7.75px 0px $buttonShadowPrimary, -8px 8px 0px $buttonShadowPrimary;
}
@mixin large-footer-button-boxShadow {
  box-shadow: -0.05px 0.05px 0px $buttonShadowPrimary,
    -0.1px 0.1px 0px $buttonShadowPrimary,
    -0.15px 0.15px 0px $buttonShadowPrimary,
    -0.2px 0.2px 0px $buttonShadowPrimary,
    -0.25px 0.25px 0px $buttonShadowSecondary,
    -0.5px 0.5px 0px $buttonShadowSecondary,
    -0.75px 0.75px 0px $buttonShadowSecondary, -1px 1px 0px $buttonShadowPrimary,
    -1.25px 1.25px 0px $buttonShadowSecondary,
    -1.5px 1.5px 0px $buttonShadowSecondary,
    -1.75px 1.75px 0px $buttonShadowSecondary,
    -2px 2px 0px $buttonShadowSecondary,
    -2.25px 2.25px 0px $buttonShadowSecondary,
    -2.5px 2.5px 0px $buttonShadowSecondary,
    -2.75px 2.75px 0px $buttonShadowSecondary,
    -3px 3px 0px $buttonShadowSecondary,
    -3.25px 3.25px 0px $buttonShadowSecondary,
    -3.5px 3.5px 0px $buttonShadowSecondary,
    -3.75px 3.75px 0px $buttonShadowSecondary,
    -4px 4px 0px $buttonShadowSecondary,
    -4.25px 4.25px 0px $buttonShadowSecondary,
    -4.5px 4.5px 0px $buttonShadowSecondary,
    -4.75px 4.75px 0px $buttonShadowSecondary,
    -5px 5px 0px $buttonShadowSecondary,
    -5.25px 5.25px 0px $buttonShadowSecondary,
    -5.5px 5.5px 0px $buttonShadowSecondary,
    -5.75px 5.75px 0px $buttonShadowSecondary,
    -6px 6px 0px $buttonShadowSecondary,
    -6.25px 6.25px 0px $buttonShadowSecondary,
    -6.5px 6.5px 0px $buttonShadowSecondary,
    -6.75px 6.75px 0px $buttonShadowSecondary,
    -7px 7px 0px $buttonShadowSecondary,
    -7.25px 7.25px 0px $buttonShadowSecondary,
    -7.5px 7.5px 0px $buttonShadowSecondary,
    -7.75px 7.75px 0px $buttonShadowSecondary,
    -8px 8px 0px $buttonShadowSecondary;
}

@mixin image-portrait-boxShadow-smallScreen {
  box-shadow: -0.25px 0.25px 0px $buttonShadowPrimary,
    -0.5px 0.5px 0px $buttonShadowPrimary,
    -0.75px 0.75px 0px $buttonShadowPrimary, -1px 1px 0px $buttonShadowPrimary,
    -1.25px 1.25px 0px $buttonShadowPrimary,
    -1.5px 1.5px 0px $buttonShadowPrimary,
    -1.75px 1.75px 0px $buttonShadowPrimary, -2px 2px 0px $buttonShadowPrimary,
    -2.25px 2.25px 0px $buttonShadowPrimary,
    -2.5px 2.5px 0px $buttonShadowPrimary,
    -2.75px 2.75px 0px $buttonShadowPrimary, -3px 3px 0px $buttonShadowPrimary,
    -3.25px 3.25px 0px $buttonShadowPrimary,
    -3.5px 3.5px 0px $buttonShadowPrimary,
    -3.75px 3.75px 0px $buttonShadowPrimary, -4px 4px 0px $buttonShadowPrimary,
    -4.25px 4.25px 0px $buttonShadowPrimary,
    -4.5px 4.5px 0px $buttonShadowPrimary,
    -4.75px 4.75px 0px $buttonShadowPrimary, -5px 5px 0px $buttonShadowPrimary,
    -5.25px 5.25px 0px $buttonShadowPrimary,
    -5.5px 5.5px 0px $buttonShadowPrimary,
    -5.75px 5.75px 0px $buttonShadowPrimary, -6px 6px 0px $buttonShadowPrimary,
    -6.25px 6.25px 0px $buttonShadowPrimary,
    -6.5px 6.5px 0px $buttonShadowPrimary,
    -6.75px 6.75px 0px $buttonShadowPrimary, -7px 7px 0px $buttonShadowPrimary,
    -7.25px 7.25px 0px $buttonShadowPrimary,
    -7.5px 7.5px 0px $buttonShadowPrimary,
    -7.75px 7.75px 0px $buttonShadowPrimary, -8px 8px 0px $buttonShadowPrimary,
    -8.25px 8.25px 0px $buttonShadowPrimary,
    -8.5px 8.5px 0px $buttonShadowPrimary,
    -8.75px 8.75px 0px $buttonShadowPrimary, -9px 9px 0px $buttonShadowPrimary,
    -9.25px 9.25px 0px $buttonShadowPrimary,
    -9.5px 9.5px 0px $buttonShadowPrimary,
    -9.75px 9.75px 0px $buttonShadowPrimary, -10px 10px 0px $buttonShadowPrimary,
    -10.25px 10.25px 0px $buttonShadowPrimary,
    -10.5px 10.5px 0px $buttonShadowPrimary,
    -10.75px 10.75px 0px $buttonShadowPrimary,
    -11px 11px 0px $buttonShadowPrimary,
    -11.25px 11.25px 0px $buttonShadowPrimary,
    -11.5px 11.5px 0px $buttonShadowPrimary,
    -11.75px 11.75px 0px $buttonShadowPrimary,
    -12px 12px 0px $buttonShadowPrimary,
    -12.25px 12.25px 0px $buttonShadowPrimary,
    -12.5px 12.5px 0px $buttonShadowPrimary,
    -12.75px 12.75px 0px $buttonShadowPrimary,
    -13px 13px 0px $buttonShadowPrimary,
    -13.25px 13.25px 0px $buttonShadowPrimary,
    -13.5px 13.5px 0px $buttonShadowPrimary,
    -13.75px 13.75px 0px $buttonShadowPrimary,
    -14px 14px 0px $buttonShadowPrimary,
    -14.25px 14.25px 0px $buttonShadowPrimary,
    -14.5px 14.5px 0px $buttonShadowPrimary,
    -14.75px 14.75px 0px $buttonShadowPrimary,
    -15px 15px 0px $buttonShadowPrimary,
    -15.25px 15.25px 0px $buttonShadowPrimary,
    -15.5px 15.5px 0px $buttonShadowPrimary,
    -15.75px 15.75px 0px $buttonShadowPrimary,
    -16px 16px 0px $buttonShadowPrimary,
    -16.25px 16.25px 0px $buttonShadowPrimary,
    -16.5px 16.5px 0px $buttonShadowPrimary,
    -16.75px 16.75px 0px $buttonShadowPrimary,
    -17px 17px 0px $buttonShadowPrimary,
    -17.25px 17.25px 0px $buttonShadowPrimary,
    -17.5px 17.5px 0px $buttonShadowPrimary,
    -17.75px 17.75px 0px $buttonShadowPrimary,
    -18px 18px 0px $buttonShadowPrimary,
    -18.25px 18.25px 0px $buttonShadowPrimary,
    -18.5px 18.5px 0px $buttonShadowPrimary,
    -18.75px 18.75px 0px $buttonShadowPrimary,
    -19px 19px 0px $buttonShadowPrimary,
    -19.25px 19.25px 0px $buttonShadowPrimary,
    -19.5px 19.5px 0px $buttonShadowPrimary,
    -19.75px 19.75px 0px $buttonShadowPrimary,
    -20px 20px 0px $buttonShadowPrimary,
    -20.25px 20.25px 0px $buttonShadowPrimary,
    -20.5px 20.5px 0px $buttonShadowPrimary,
    -20.75px 20.75px 0px $buttonShadowPrimary,
    -21px 21px 0px $buttonShadowPrimary,
    -21.25px 21.25px 0px $buttonShadowPrimary,
    -21.5px 21.5px 0px $buttonShadowPrimary,
    -21.75px 21.75px 0px $buttonShadowPrimary,
    -22px 22px 0px $buttonShadowPrimary,
    -22.25px 22.25px 0px $buttonShadowPrimary,
    -22.5px 22.5px 0px $buttonShadowPrimary,
    -22.75px 22.75px 0px $buttonShadowPrimary,
    -23px 23px 0px $buttonShadowPrimary,
    -23.25px 23.25px 0px $buttonShadowPrimary,
    -23.5px 23.5px 0px $buttonShadowPrimary,
    -23.75px 23.75px 0px $buttonShadowPrimary,
    -24px 24px 0px $buttonShadowPrimary,
    -24.25px 24.25px 0px $buttonShadowPrimary,
    -24.5px 24.5px 0px $buttonShadowPrimary,
    -24.75px 24.75px 0px $buttonShadowPrimary,
    -25px 25px 0px $buttonShadowPrimary, -25.25px 25px 0px $buttonShadowPrimary,
    -25.5px 25px 0px $buttonShadowPrimary,
    -25.75px 25px 0px $buttonShadowPrimary, -26px 26px 0px $buttonShadowPrimary,
    -26.25px 26.25px 0px $buttonShadowPrimary,
    -26.5px 26.5px 0px $buttonShadowPrimary,
    -26.75px 26.75px 0px $buttonShadowPrimary,
    -27px 27px 0px $buttonShadowPrimary,
    -27.25px 27.25px 0px $buttonShadowPrimary,
    -27.5px 27.5px 0px $buttonShadowPrimary,
    -27.75px 27.75px 0px $buttonShadowPrimary,
    -28px 28px 0px $buttonShadowPrimary,
    -28.25px 28.25px 0px $buttonShadowPrimary,
    -28.5px 28.5px 0px $buttonShadowPrimary,
    -28.75px 28.75px 0px $buttonShadowPrimary,
    -29px 29px 0px $buttonShadowPrimary,
    -29.25px 29.25px 0px $buttonShadowPrimary,
    -29.5px 29.5px 0px $buttonShadowPrimary,
    -29.75px 29.75px 0px $buttonShadowPrimary,
    -30px 30px 0px $buttonShadowPrimary,
    -30.25px 30.25px 0px $buttonShadowPrimary,
    -30.5px 30.5px 0px $buttonShadowPrimary,
    -30.75px 30.75px 0px $buttonShadowPrimary,
    -31px 31px 0px $buttonShadowPrimary,
    -31.25px 31.25px 0px $buttonShadowPrimary,
    -31.5px 31.5px 0px $buttonShadowPrimary,
    -31.75px 31.75px 0px $buttonShadowPrimary,
    -32px 32px 0px $buttonShadowPrimary,
    -32.25px 32.25px 0px $buttonShadowPrimary,
    -32.5px 32.5px 0px $buttonShadowPrimary,
    -32.75px 32.75px 0px $buttonShadowPrimary,
    -33px 33px 0px $buttonShadowPrimary,
    -33.25px 33.25px 0px $buttonShadowPrimary,
    -33.5px 33.5px 0px $buttonShadowPrimary,
    -33.75px 33.75px 0px $buttonShadowPrimary,
    -34px 34px 0px $buttonShadowPrimary,
    -34.25px 34.25px 0px $buttonShadowPrimary,
    -34.5px 34.5px 0px $buttonShadowPrimary,
    -34.75px 34.75px 0px $buttonShadowPrimary,
    -35px 35px 0px $buttonShadowPrimary,
    -35.25px 35.25px 0px $buttonShadowPrimary,
    -35.5px 35.5px 0px $buttonShadowPrimary,
    -35.75px 35.75px 0px $buttonShadowPrimary,
    -36px 36px 0px $buttonShadowPrimary;
}
@mixin image-portrait-boxShadow-largeScreen {
  box-shadow: -0.25px 0.25px 0px $buttonShadowPrimary,
    -0.5px 0.5px 0px $buttonShadowPrimary,
    -0.75px 0.75px 0px $buttonShadowPrimary, -1px 1px 0px $buttonShadowPrimary,
    -1.25px 1.25px 0px $buttonShadowPrimary,
    -1.5px 1.5px 0px $buttonShadowPrimary,
    -1.75px 1.75px 0px $buttonShadowPrimary, -2px 2px 0px $buttonShadowPrimary,
    -2.25px 2.25px 0px $buttonShadowPrimary,
    -2.5px 2.5px 0px $buttonShadowPrimary,
    -2.75px 2.75px 0px $buttonShadowPrimary, -3px 3px 0px $buttonShadowPrimary,
    -3.25px 3.25px 0px $buttonShadowPrimary,
    -3.5px 3.5px 0px $buttonShadowPrimary,
    -3.75px 3.75px 0px $buttonShadowPrimary, -4px 4px 0px $buttonShadowPrimary,
    -4.25px 4.25px 0px $buttonShadowPrimary,
    -4.5px 4.5px 0px $buttonShadowPrimary,
    -4.75px 4.75px 0px $buttonShadowPrimary, -5px 5px 0px $buttonShadowPrimary,
    -5.25px 5.25px 0px $buttonShadowPrimary,
    -5.5px 5.5px 0px $buttonShadowPrimary,
    -5.75px 5.75px 0px $buttonShadowPrimary, -6px 6px 0px $buttonShadowPrimary,
    -6.25px 6.25px 0px $buttonShadowPrimary,
    -6.5px 6.5px 0px $buttonShadowPrimary,
    -6.75px 6.75px 0px $buttonShadowPrimary, -7px 7px 0px $buttonShadowPrimary,
    -7.25px 7.25px 0px $buttonShadowPrimary,
    -7.5px 7.5px 0px $buttonShadowPrimary,
    -7.75px 7.75px 0px $buttonShadowPrimary, -8px 8px 0px $buttonShadowPrimary,
    -8.25px 8.25px 0px $buttonShadowPrimary,
    -8.5px 8.5px 0px $buttonShadowPrimary,
    -8.75px 8.75px 0px $buttonShadowPrimary, -9px 9px 0px $buttonShadowPrimary,
    -9.25px 9.25px 0px $buttonShadowPrimary,
    -9.5px 9.5px 0px $buttonShadowPrimary,
    -9.75px 9.75px 0px $buttonShadowPrimary, -10px 10px 0px $buttonShadowPrimary,
    -10.25px 10.25px 0px $buttonShadowPrimary,
    -10.5px 10.5px 0px $buttonShadowPrimary,
    -10.75px 10.75px 0px $buttonShadowPrimary,
    -11px 11px 0px $buttonShadowPrimary,
    -11.25px 11.25px 0px $buttonShadowPrimary,
    -11.5px 11.5px 0px $buttonShadowPrimary,
    -11.75px 11.75px 0px $buttonShadowPrimary,
    -12px 12px 0px $buttonShadowPrimary,
    -12.25px 12.25px 0px $buttonShadowPrimary,
    -12.5px 12.5px 0px $buttonShadowPrimary,
    -12.75px 12.75px 0px $buttonShadowPrimary,
    -13px 13px 0px $buttonShadowPrimary,
    -13.25px 13.25px 0px $buttonShadowPrimary,
    -13.5px 13.5px 0px $buttonShadowPrimary,
    -13.75px 13.75px 0px $buttonShadowPrimary,
    -14px 14px 0px $buttonShadowPrimary,
    -14.25px 14.25px 0px $buttonShadowPrimary,
    -14.5px 14.5px 0px $buttonShadowPrimary,
    -14.75px 14.75px 0px $buttonShadowPrimary,
    -15px 15px 0px $buttonShadowPrimary,
    -15.25px 15.25px 0px $buttonShadowPrimary,
    -15.5px 15.5px 0px $buttonShadowPrimary,
    -15.75px 15.75px 0px $buttonShadowPrimary,
    -16px 16px 0px $buttonShadowPrimary,
    -16.25px 16.25px 0px $buttonShadowPrimary,
    -16.5px 16.5px 0px $buttonShadowPrimary,
    -16.75px 16.75px 0px $buttonShadowPrimary,
    -17px 17px 0px $buttonShadowPrimary,
    -17.25px 17.25px 0px $buttonShadowPrimary,
    -17.5px 17.5px 0px $buttonShadowPrimary,
    -17.75px 17.75px 0px $buttonShadowPrimary,
    -18px 18px 0px $buttonShadowPrimary,
    -18.25px 18.25px 0px $buttonShadowPrimary,
    -18.5px 18.5px 0px $buttonShadowPrimary,
    -18.75px 18.75px 0px $buttonShadowPrimary,
    -19px 19px 0px $buttonShadowPrimary,
    -19.25px 19.25px 0px $buttonShadowPrimary,
    -19.5px 19.5px 0px $buttonShadowPrimary,
    -19.75px 19.75px 0px $buttonShadowPrimary,
    -20px 20px 0px $buttonShadowPrimary,
    -20.25px 20.25px 0px $buttonShadowPrimary,
    -20.5px 20.5px 0px $buttonShadowPrimary,
    -20.75px 20.75px 0px $buttonShadowPrimary,
    -21px 21px 0px $buttonShadowPrimary,
    -21.25px 21.25px 0px $buttonShadowPrimary,
    -21.5px 21.5px 0px $buttonShadowPrimary,
    -21.75px 21.75px 0px $buttonShadowPrimary,
    -22px 22px 0px $buttonShadowPrimary,
    -22.25px 22.25px 0px $buttonShadowPrimary,
    -22.5px 22.5px 0px $buttonShadowPrimary,
    -22.75px 22.75px 0px $buttonShadowPrimary,
    -23px 23px 0px $buttonShadowPrimary,
    -23.25px 23.25px 0px $buttonShadowPrimary,
    -23.5px 23.5px 0px $buttonShadowPrimary,
    -23.75px 23.75px 0px $buttonShadowPrimary,
    -24px 24px 0px $buttonShadowPrimary,
    -24.25px 24.25px 0px $buttonShadowPrimary,
    -24.5px 24.5px 0px $buttonShadowPrimary,
    -24.75px 24.75px 0px $buttonShadowPrimary,
    -25px 25px 0px $buttonShadowPrimary,
    -25.25px 25.25px 0px $buttonShadowPrimary,
    -25.5px 25.4px 0px $buttonShadowPrimary,
    -25.75px 25.74px 0px $buttonShadowPrimary,
    -26px 26px 0px $buttonShadowPrimary,
    -26.25px 26.25px 0px $buttonShadowPrimary,
    -26.5px 26.5px 0px $buttonShadowPrimary,
    -26.75px 26.75px 0px $buttonShadowPrimary,
    -27px 27px 0px $buttonShadowPrimary,
    -27.25px 27.25px 0px $buttonShadowPrimary,
    -27.5px 27.5px 0px $buttonShadowPrimary,
    -27.75px 27.75px 0px $buttonShadowPrimary,
    -28px 28px 0px $buttonShadowPrimary,
    -28.25px 28.25px 0px $buttonShadowPrimary,
    -28.5px 28.5px 0px $buttonShadowPrimary,
    -28.75px 28.75px 0px $buttonShadowPrimary,
    -29px 29px 0px $buttonShadowPrimary,
    -29.25px 29.25px 0px $buttonShadowPrimary,
    -29.5px 29.5px 0px $buttonShadowPrimary,
    -29.75px 29.75px 0px $buttonShadowPrimary,
    -30px 30px 0px $buttonShadowPrimary,
    -30.25px 30.25px 0px $buttonShadowPrimary,
    -30.5px 30.5px 0px $buttonShadowPrimary,
    -30.75px 30.75px 0px $buttonShadowPrimary,
    -31px 31px 0px $buttonShadowPrimary,
    -31.25px 31.25px 0px $buttonShadowPrimary,
    -31.5px 31.5px 0px $buttonShadowPrimary,
    -31.75px 31.75px 0px $buttonShadowPrimary,
    -32px 32px 0px $buttonShadowPrimary,
    -32.25px 32.25px 0px $buttonShadowPrimary,
    -32.5px 32.5px 0px $buttonShadowPrimary,
    -32.75px 32.75px 0px $buttonShadowPrimary,
    -33px 33px 0px $buttonShadowPrimary,
    -33.25px 33.25px 0px $buttonShadowPrimary,
    -33.5px 33.5px 0px $buttonShadowPrimary,
    -33.75px 33.75px 0px $buttonShadowPrimary,
    -34px 34px 0px $buttonShadowPrimary,
    -34.25px 34.25px 0px $buttonShadowPrimary,
    -34.5px 34.5px 0px $buttonShadowPrimary,
    -34.75px 34.75px 0px $buttonShadowPrimary,
    -35px 35px 0px $buttonShadowPrimary,
    -35.25px 35.25px 0px $buttonShadowPrimary,
    -35.5px 35.5px 0px $buttonShadowPrimary,
    -35.75px 35.75px 0px $buttonShadowPrimary,
    -36px 36px 0px $buttonShadowPrimary,
    -36.25px 36.25px 0px $buttonShadowPrimary,
    -36.5px 36.5px 0px $buttonShadowPrimary,
    -36.75px 36.75px 0px $buttonShadowPrimary,
    -37px 37px 0px $buttonShadowPrimary,
    -37.25px 37.25px 0px $buttonShadowPrimary,
    -37.5px 37.5px 0px $buttonShadowPrimary,
    -37.75px 37.75px 0px $buttonShadowPrimary,
    -38px 38px 0px $buttonShadowPrimary,
    -38.25px 38.25px 0px $buttonShadowPrimary,
    -38.5px 38.5px 0px $buttonShadowPrimary,
    -38.75px 38.75px 0px $buttonShadowPrimary,
    -39px 39px 0px $buttonShadowPrimary,
    -39.25px 39.25px 0px $buttonShadowPrimary,
    -39.5px 39.5px 0px $buttonShadowPrimary,
    -39.75px 39.75px 0px $buttonShadowPrimary,
    -40px 40px 0px $buttonShadowPrimary,
    -40.25px 40.25px 0px $buttonShadowPrimary,
    -40.5px 40.5px 0px $buttonShadowPrimary,
    -40.75px 40.75px 0px $buttonShadowPrimary,
    -41px 41px 0px $buttonShadowPrimary,
    -41.25px 41.25px 0px $buttonShadowPrimary,
    -41.5px 41.5px 0px $buttonShadowPrimary,
    -41.75px 41.75px 0px $buttonShadowPrimary,
    -42px 42px 0px $buttonShadowPrimary;
}

@mixin image-landscape-boxShadow {
  box-shadow: -0.25px 0.25px 0px $buttonShadowPrimary,
    -0.5px 0.5px 0px $buttonShadowPrimary,
    -0.75px 0.75px 0px $buttonShadowPrimary,
    -1.25px 1.25px 0px $buttonShadowPrimary,
    -1.5px 1.5px 0px $buttonShadowPrimary,
    -1.75px 1.75px 0px $buttonShadowPrimary, -2px 2px 0px $buttonShadowPrimary,
    -2.25px 2.25px 0px $buttonShadowPrimary,
    -2.5px 2.5px 0px $buttonShadowPrimary,
    -2.75px 2.75px 0px $buttonShadowPrimary, -3px 3px 0px $buttonShadowPrimary,
    -3.25px 3.25px 0px $buttonShadowPrimary,
    -3.5px 3.5px 0px $buttonShadowPrimary,
    -3.75px 3.75px 0px $buttonShadowPrimary, -4px 4px 0px $buttonShadowPrimary,
    -4.25px 4.25px 0px $buttonShadowPrimary,
    -4.5px 4.5px 0px $buttonShadowPrimary,
    -4.75px 4.75px 0px $buttonShadowPrimary, -5px 5px 0px $buttonShadowPrimary,
    -5.25px 5.25px 0px $buttonShadowPrimary,
    -5.5px 5.5px 0px $buttonShadowPrimary,
    -5.75px 5.75px 0px $buttonShadowPrimary, -6px 6px 0px $buttonShadowPrimary,
    -6.25px 6.25px 0px $buttonShadowPrimary,
    -6.5px 6.5px 0px $buttonShadowPrimary,
    -6.75px 6.75px 0px $buttonShadowPrimary, -7px 7px 0px $buttonShadowPrimary,
    -7.25px 7.25px 0px $buttonShadowPrimary,
    -7.5px 7.5px 0px $buttonShadowPrimary,
    -7.75px 7.75px 0px $buttonShadowPrimary, -8px 8px 0px $buttonShadowPrimary,
    -8.25px 8.25px 0px $buttonShadowPrimary,
    -8.5px 8.5px 0px $buttonShadowPrimary,
    -8.75px 8.75px 0px $buttonShadowPrimary, -9px 9px 0px $buttonShadowPrimary,
    -9.25px 9.25px 0px $buttonShadowPrimary,
    -9.5px 9.5px 0px $buttonShadowPrimary,
    -9.75px 9.75px 0px $buttonShadowPrimary, -10px 10px 0px $buttonShadowPrimary,
    -10.25px 10.25px 0px $buttonShadowPrimary,
    -10.5px 10.5px 0px $buttonShadowPrimary,
    -10.75px 10.75px 0px $buttonShadowPrimary,
    -11px 11px 0px $buttonShadowPrimary,
    -11.25px 11.25px 0px $buttonShadowPrimary,
    -11.5px 11.5px 0px $buttonShadowPrimary,
    -11.75px 11.75px 0px $buttonShadowPrimary,
    -12px 12px 0px $buttonShadowPrimary,
    -12.25px 12.25px 0px $buttonShadowPrimary,
    -12.5px 12.5px 0px $buttonShadowPrimary,
    -12.75px 12.75px 0px $buttonShadowPrimary,
    -13px 13px 0px $buttonShadowPrimary,
    -13.25px 13.25px 0px $buttonShadowPrimary,
    -13.5px 13.5px 0px $buttonShadowPrimary,
    -13.75px 13.75px 0px $buttonShadowPrimary,
    -14px 14px 0px $buttonShadowPrimary,
    -14.25px 14.25px 0px $buttonShadowPrimary,
    -14.5px 14.5px 0px $buttonShadowPrimary,
    -14.75px 14.75px 0px $buttonShadowPrimary,
    -15px 15px 0px $buttonShadowPrimary,
    -15.25px 15.25px 0px $buttonShadowPrimary,
    -15.5px 15.5px 0px $buttonShadowPrimary,
    -15.75px 15.75px 0px $buttonShadowPrimary,
    -16px 16px 0px $buttonShadowPrimary,
    -16.25px 16.25px 0px $buttonShadowPrimary,
    -16.5px 16.5px 0px $buttonShadowPrimary,
    -16.75px 16.75px 0px $buttonShadowPrimary,
    -17px 17px 0px $buttonShadowPrimary,
    -17.25px 17.25px 0px $buttonShadowPrimary,
    -17.5px 17.5px 0px $buttonShadowPrimary,
    -17.75px 17.75px 0px $buttonShadowPrimary,
    -18px 18px 0px $buttonShadowPrimary;
}

@mixin login-reg-boxShadow {
  box-shadow: -0.25px 0.25px 0px $buttonShadowPrimary,
    -0.5px 0.5px 0px $buttonShadowPrimary,
    -0.75px 0.75px 0px $buttonShadowPrimary, -1px 1px 0px $buttonShadowPrimary,
    -1.25px 1.25px 0px $buttonShadowPrimary,
    -1.5px 1.5px 0px $buttonShadowPrimary,
    -1.75px 1.75px 0px $buttonShadowPrimary, -2px 2px 0px $buttonShadowPrimary,
    -2.25px 2.25px 0px $buttonShadowPrimary,
    -2.5px 2.5px 0px $buttonShadowPrimary,
    -2.75px 2.75px 0px $buttonShadowPrimary, -3px 3px 0px $buttonShadowPrimary,
    -3.25px 3.25px 0px $buttonShadowPrimary,
    -3.5px 3.5px 0px $buttonShadowPrimary,
    -3.75px 3.75px 0px $buttonShadowPrimary, -4px 4px 0px $buttonShadowPrimary,
    -4.25px 4.25px 0px $buttonShadowPrimary,
    -4.5px 4.5px 0px $buttonShadowPrimary,
    -4.75px 4.75px 0px $buttonShadowPrimary, -5px 5px 0px $buttonShadowPrimary,
    -5.25px 5.25px 0px $buttonShadowPrimary,
    -5.5px 5.5px 0px $buttonShadowPrimary,
    -5.75px 5.75px 0px $buttonShadowPrimary, -6px 6px 0px $buttonShadowPrimary,
    -6.25px 6.25px 0px $buttonShadowPrimary,
    -6.5px 6.5px 0px $buttonShadowPrimary,
    -6.75px 6.75px 0px $buttonShadowPrimary, -7px 7px 0px $buttonShadowPrimary,
    -7.25px 7.25px 0px $buttonShadowPrimary,
    -7.5px 7.5px 0px $buttonShadowPrimary,
    -7.75px 7.75px 0px $buttonShadowPrimary, -8px 8px 0px $buttonShadowPrimary,
    -8.25px 8.25px 0px $buttonShadowPrimary,
    -8.5px 8.5px 0px $buttonShadowPrimary,
    -8.75px 8.75px 0px $buttonShadowPrimary, -9px 9px 0px $buttonShadowPrimary,
    -9.25px 9.25px 0px $buttonShadowPrimary,
    -9.5px 9.5px 0px $buttonShadowPrimary,
    -9.75px 9.75px 0px $buttonShadowPrimary, -10px 10px 0px $buttonShadowPrimary,
    -10.25px 10.25px 0px $buttonShadowPrimary,
    -10.5px 10.5px 0px $buttonShadowPrimary,
    -10.75px 10.75px 0px $buttonShadowPrimary,
    -11px 11px 0px $buttonShadowPrimary,
    -11.25px 11.25px 0px $buttonShadowPrimary,
    -11.5px 11.5px 0px $buttonShadowPrimary,
    -11.75px 11.75px 0px $buttonShadowPrimary,
    -12px 12px 0px $buttonShadowPrimary,
    -12.25px 12.25px 0px $buttonShadowPrimary,
    -12.5px 12.5px 0px $buttonShadowPrimary,
    -12.75px 12.75px 0px $buttonShadowPrimary,
    -13px 13px 0px $buttonShadowPrimary,
    -13.25px 13.25px 0px $buttonShadowPrimary,
    -13.5px 13.5px 0px $buttonShadowPrimary,
    -13.75px 13.75px 0px $buttonShadowPrimary,
    -14px 14px 0px $buttonShadowPrimary,
    -14.25px 14.25px 0px $buttonShadowPrimary,
    -14.5px 14.5px 0px $buttonShadowPrimary,
    -14.75px 14.75px 0px $buttonShadowPrimary,
    -15px 15px 0px $buttonShadowPrimary,
    -15.25px 15.25px 0px $buttonShadowPrimary,
    -15.5px 15.5px 0px $buttonShadowPrimary,
    -15.75px 15.75px 0px $buttonShadowPrimary,
    -16px 16px 0px $buttonShadowPrimary,
    -16.25px 16.25px 0px $buttonShadowPrimary,
    -16.5px 16.5px 0px $buttonShadowPrimary,
    -16.75px 16.75px 0px $buttonShadowPrimary,
    -17px 17px 0px $buttonShadowPrimary,
    -17.25px 17.25px 0px $buttonShadowPrimary,
    -17.5px 17.5px 0px $buttonShadowPrimary,
    -17.75px 17.75px 0px $buttonShadowPrimary,
    -18px 18px 0px $buttonShadowPrimary,
    -18.25px 18.25px 0px $buttonShadowPrimary,
    -18.5px 18.5px 0px $buttonShadowPrimary,
    -18.75px 18.75px 0px $buttonShadowPrimary,
    -19px 19px 0px $buttonShadowPrimary,
    -19.25px 19.25px 0px $buttonShadowPrimary,
    -19.5px 19.5px 0px $buttonShadowPrimary,
    -19.75px 19.75px 0px $buttonShadowPrimary,
    -20px 20px 0px $buttonShadowPrimary,
    -20.25px 20.25px 0px $buttonShadowPrimary,
    -20.5px 20.5px 0px $buttonShadowPrimary,
    -20.75px 20.75px 0px $buttonShadowPrimary,
    -21px 21px 0px $buttonShadowPrimary,
    -21.25px 21.25px 0px $buttonShadowPrimary,
    -21.5px 21.5px 0px $buttonShadowPrimary,
    -21.75px 21.75px 0px $buttonShadowPrimary,
    -22px 22px 0px $buttonShadowPrimary,
    -22.25px 22.25px 0px $buttonShadowPrimary,
    -22.5px 22.5px 0px $buttonShadowPrimary,
    -22.75px 22.75px 0px $buttonShadowPrimary,
    -23px 23px 0px $buttonShadowPrimary,
    -23.25px 23.25px 0px $buttonShadowPrimary,
    -23.5px 23.5px 0px $buttonShadowPrimary,
    -23.75px 23.75px 0px $buttonShadowPrimary,
    -24px 24px 0px $buttonShadowPrimary,
    -24.25px 24.25px 0px $buttonShadowPrimary,
    -24.5px 24.5px 0px $buttonShadowPrimary,
    -24.75px 24.75px 0px $buttonShadowPrimary,
    -25px 25px 0px $buttonShadowPrimary,
    -25.25px 25.25px 0px $buttonShadowPrimary,
    -25.5px 25.4px 0px $buttonShadowPrimary,
    -25.75px 25.74px 0px $buttonShadowPrimary,
    -26px 26px 0px $buttonShadowPrimary,
    -26.25px 26.25px 0px $buttonShadowPrimary,
    -26.5px 26.5px 0px $buttonShadowPrimary,
    -26.75px 26.75px 0px $buttonShadowPrimary,
    -27px 27px 0px $buttonShadowPrimary,
    -27.25px 27.25px 0px $buttonShadowPrimary,
    -27.5px 27.5px 0px $buttonShadowPrimary,
    -27.75px 27.75px 0px $buttonShadowPrimary,
    -28px 28px 0px $buttonShadowPrimary,
    -28.25px 28.25px 0px $buttonShadowPrimary,
    -28.5px 28.5px 0px $buttonShadowPrimary,
    -28.75px 28.75px 0px $buttonShadowPrimary,
    -29px 29px 0px $buttonShadowPrimary,
    -29.25px 29.25px 0px $buttonShadowPrimary,
    -29.5px 29.5px 0px $buttonShadowPrimary,
    -29.75px 29.75px 0px $buttonShadowPrimary,
    -30px 30px 0px $buttonShadowPrimary,
    -30.25px 30.25px 0px $buttonShadowPrimary,
    -30.5px 30.5px 0px $buttonShadowPrimary,
    -30.75px 30.75px 0px $buttonShadowPrimary,
    -31px 31px 0px $buttonShadowPrimary,
    -31.25px 31.25px 0px $buttonShadowPrimary,
    -31.5px 31.5px 0px $buttonShadowPrimary,
    -31.75px 31.75px 0px $buttonShadowPrimary,
    -32px 32px 0px $buttonShadowPrimary,
    -32.25px 32.25px 0px $buttonShadowPrimary,
    -32.5px 32.5px 0px $buttonShadowPrimary,
    -32.75px 32.75px 0px $buttonShadowPrimary,
    -33px 33px 0px $buttonShadowPrimary,
    -33.25px 33.25px 0px $buttonShadowPrimary,
    -33.5px 33.5px 0px $buttonShadowPrimary,
    -33.75px 33.75px 0px $buttonShadowPrimary,
    -34px 34px 0px $buttonShadowPrimary,
    -34.25px 34.25px 0px $buttonShadowPrimary,
    -34.5px 34.5px 0px $buttonShadowPrimary,
    -34.75px 34.75px 0px $buttonShadowPrimary,
    -35px 35px 0px $buttonShadowPrimary,
    -35.25px 35.25px 0px $buttonShadowPrimary,
    -35.5px 35.5px 0px $buttonShadowPrimary,
    -35.75px 35.75px 0px $buttonShadowPrimary,
    -36px 36px 0px $buttonShadowPrimary,
    -36.25px 36.25px 0px $buttonShadowPrimary,
    -36.5px 36.5px 0px $buttonShadowPrimary,
    -36.75px 36.75px 0px $buttonShadowPrimary,
    -37px 37px 0px $buttonShadowPrimary,
    -37.25px 37.25px 0px $buttonShadowPrimary,
    -37.5px 37.5px 0px $buttonShadowPrimary,
    -37.75px 37.75px 0px $buttonShadowPrimary,
    -38px 38px 0px $buttonShadowPrimary,
    -38.25px 38.25px 0px $buttonShadowPrimary,
    -38.5px 38.5px 0px $buttonShadowPrimary,
    -38.75px 38.75px 0px $buttonShadowPrimary,
    -39px 39px 0px $buttonShadowPrimary,
    -39.25px 39.25px 0px $buttonShadowPrimary,
    -39.5px 39.5px 0px $buttonShadowPrimary,
    -39.75px 39.75px 0px $buttonShadowPrimary,
    -40px 40px 0px $buttonShadowPrimary,
    -40.25px 40.25px 0px $buttonShadowPrimary,
    -40.5px 40.5px 0px $buttonShadowPrimary,
    -40.75px 40.75px 0px $buttonShadowPrimary,
    -41px 41px 0px $buttonShadowPrimary,
    -41.25px 41.25px 0px $buttonShadowPrimary,
    -41.5px 41.5px 0px $buttonShadowPrimary,
    -41.75px 41.75px 0px $buttonShadowPrimary,
    -42px 42px 0px $buttonShadowPrimary;
}

// reversed/right side BoxShadows

@mixin medium-button-rightSide-boxShadow-secondaryColor {
  box-shadow: 0.25px 0.25px 0px $buttonShadowSecondary,
    0.5px 0.5px 0px $buttonShadowSecondary,
    0.75px 0.75px 0px $buttonShadowSecondary, 1px 1px 0px $buttonShadowSecondary,
    1.25px 1.25px 0px $buttonShadowSecondary,
    1.5px 1.5px 0px $buttonShadowSecondary,
    1.75px 1.75px 0px $buttonShadowSecondary, 2px 2px 0px $buttonShadowSecondary,
    2.25px 2.25px 0px $buttonShadowSecondary,
    2.5px 2.5px 0px $buttonShadowSecondary,
    2.75px 2.75px 0px $buttonShadowSecondary, 3px 3px 0px $buttonShadowSecondary,
    3.25px 3.25px 0px $buttonShadowSecondary,
    3.5px 3.5px 0px $buttonShadowSecondary,
    3.75px 3.75px 0px $buttonShadowSecondary, 4px 4px 0px $buttonShadowSecondary,
    4.25px 4.25px 0px $buttonShadowSecondary,
    4.5px 4.5px 0px $buttonShadowSecondary,
    4.75px 4.75px 0px $buttonShadowSecondary, 5px 5px 0px $buttonShadowSecondary;
}

@mixin large-button-rightSide-boxShadow {
  box-shadow: 0.25px 0.25px 0px $buttonShadowPrimary,
    0.5px 0.5px 0px $buttonShadowPrimary, 0.75px 0.75px 0px $buttonShadowPrimary,
    1px 1px 0px $buttonShadowPrimary, 1.25px 1.25px 0px $buttonShadowPrimary,
    1.5px 1.5px 0px $buttonShadowPrimary, 1.75px 1.75px 0px $buttonShadowPrimary,
    2px 2px 0px $buttonShadowPrimary, 2.25px 2.25px 0px $buttonShadowPrimary,
    2.5px 2.5px 0px $buttonShadowPrimary, 2.75px 2.75px 0px $buttonShadowPrimary,
    3px 3px 0px $buttonShadowPrimary, 3.25px 3.25px 0px $buttonShadowPrimary,
    3.5px 3.5px 0px $buttonShadowPrimary, 3.75px 3.75px 0px $buttonShadowPrimary,
    4px 4px 0px $buttonShadowPrimary, 4.25px 4.25px 0px $buttonShadowPrimary,
    4.5px 4.5px 0px $buttonShadowPrimary, 4.75px 4.75px 0px $buttonShadowPrimary,
    5px 5px 0px $buttonShadowPrimary, 5.25px 5.25px 0px $buttonShadowPrimary,
    5.5px 5.5px 0px $buttonShadowPrimary, 5.75px 5.75px 0px $buttonShadowPrimary,
    6px 6px 0px $buttonShadowPrimary, 6.25px 6.25px 0px $buttonShadowPrimary,
    6.5px 6.5px 0px $buttonShadowPrimary, 6.75px 6.75px 0px $buttonShadowPrimary,
    7px 7px 0px $buttonShadowPrimary, 7.25px 7.25px 0px $buttonShadowPrimary,
    7.5px 7.5px 0px $buttonShadowPrimary, 7.75px 7.75px 0px $buttonShadowPrimary,
    8px 8px 0px $buttonShadowPrimary;
}
